{% extends 'main/layout.html' %}

{% block title %}
<title>Вхід мешканця</title>
{% endblock %}

{% block content %}
    <form method = "post">
        {% csrf_token %}
        <p>Введіть Ваше прізвище та ім'я:</p>
        <input type="text" name="username" required><br>
        <p>Введіть Ваш пароль:</p>
        <input type="password" name="password" required><br>
        <button type="submit">Вхід</button><br><br>
        <a href="{% url 'register_resident_r' %}">Зареєструватися</a>
    </form>

{% endblock %}