{% extends 'main/layout.html' %}

{% block title %}
<title>Сторінка мешканця</title>
{% endblock %}

{% block content %}
<form>
    {{ form.as_table }}
    <p>Вітаємо на Вашій сторінці, {{resident.name}} {{resident.surname}}!</p>
    <br><br><br><br>
    <p>Оберіть бажану функцію:</p>
    <br>
    <a href="choose_table_r">Переглянути таблиці з інформацією про будинок <i class="fa-solid fa-table"></i></a>
    <br>
    <a href="flats_list_r">Переглянути списки квартир Вашого будинку <i class="fa-solid fa-table-list"></i></a>
    <br>
    <a href="residents_list_r">Переглянути списки жителів Вашого будинку <i class="fa-solid fa-table-list"></i></a>
    <br>
    <a href="{% url 'edit_resident_r' resident.id %}">Відредагувати інформацію про себе в системі <i class="fa-solid fa-user"></i></a>
    <br>
    <a href="{% url 'remove_resident_r' resident.id %}">Видалити інформацію про себе з системи <i class="fa-solid fa-user"></i></a>
</form>
{% endblock %}