{% extends 'main/layout.html' %}

{% block title %}
<title>Список квартир</title>
{% endblock %}

{% block content %}
<a href="{% url 'register_flat_m' %}">Додати квартиру</a>
<br><br>
<a href="{% url 'moderator_page' %}">Назад</a>
<br><br><br><br>
{% for i in flats %}
<div>
  <p>Номер квартири: {{i.number}}</p>
  <p>Поверх: {{i.floor}}</p>
  <p>Кількість кімнат: {{i.room_amount}}</p>
  <p>Куплена/орендована: {{i.bought}}</p>
  <br><br>
  <a href="{% url 'edit_flat_m' i.id %}">Змінити дані про квартиру</a>
  <br><br>
  <a href="{% url 'remove_flat_m' i.id %}">Видалити квартиру</a>
  <br><br><br>
</div>
{% endfor %}
{% endblock %}