{% extends 'main/layout.html' %}

{% block title %}
<title>Головна сторінка</title>
{% endblock %}

{% block content %} <!-- сторінка входу в систему #todo: вирішити оформлення -->
    <h1>Головне меню</h1>
    <p>Це головне вікно сайту "House Managment" <i class="fa-regular fa-building"></i></p>
    <p>Увійдіть, будь ласка, в систему для подальших дій.</p>
    <!--<br>
    <a href="moderator/login_a">Увійти як адміністратор <i class="fa-solid fa-lock"></i></a> -->
    <br>
    <a href="resident/login_r">Увійти як мешканець <i class="fa-solid fa-user"></i></a>

{% endblock %}